.page-item {
  /* background-color: aquamarine; */
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.active {
  background-color: var(--color-grey-200);
  color: var(--color-grey-700);
}

.page-item:first-child,
.page-item:last-child {
  display: none;
}
.page-item {
  border-radius: 4px;
  overflow: hidden;
}
.page-link {
  cursor: pointer;
  display: inline-block;
  padding: 0.2rem 1rem;
  border-radius: 4px;
}
.page-link:hover {
  background-color: var(--color-grey-200);
  color: var(--color-grey-700);
}
